body {
  height: 99vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#calculator {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

#displayArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10%;
}

#functions {
  display: flex;
  justify-content: center;
  gap: 0;
}

#buttons {
  background-color: grey;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 20%;
}

.function,
.clear {
  width: 20%;
  height: 30px;
}

#numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
}

.number,
#intro {
  width: 30%;
  height: 25%;
}
